---
import Layout from '../layouts/Layout.astro'
import { Footer } from '../components/Footer'
import Main from '../components/Main.astro'
import { Header } from '../components/Header'
import '../css/reset.css'
import '../css/fonts.css'
import '../css/styles.css'
---

<Layout>
	<div id="app">
		<Header />
		<Main />
	</div>
	<Footer />
</Layout>
